DATABASE_URL="postgres://user_admin:user_admin@localhost:5432/db?schema=public"
PORT=3335

POSTGRESQL_POSTGRES_PASSWORD=postgres123

POSTGRESQL_USERNAME=user_admin
POSTGRESQL_PASSWORD=user_admin
POSTGRESQL_DATABASE=db

LIMITED_DB_USERNAME=app_user
LIMITED_DB_PASSWORD=app_user